
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Genç Yetenekler Programı için hazırlanmış aday başvuru formu">
    <meta name="keywords" content="HTML5,CSS3,Bootstrap,JavaScript,">
    <meta name="author" content="Burak Boyraz">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/form.css" rel="stylesheet" />
</head>

<body>
    <!--   Sayfa 1   -->
    <div class="container bg-white h-750px mb-3 mt-5">
        <img class="img-fluid mt-5" src="~/img/ana%20g%C3%B6rsel.JPG">
        <div class="row ">
            <div class="col-md-12 text-center ">
                <p>
                    <b class="c-orange text-150">&#123;</b>
                    <b class="c-gray text-125">Welcome</b>
                    <b class="c-orange text-150">&#125;</b>
                </p>
            </div>
            <div class="col-md-12 text-center">
                <p>
                    <b class="c-blue text-150">&lt;</b>
                    <b class="c-green text-125">Developers</b>
                    <b class="c-blue text-150">/&gt;</b>
                </p>
            </div>
        </div>
        <div class="float-right pr-5"><p class="c-gray pr-5">1</p></div>
    </div>
    <!--   Sayfa 2  -->
    <div class="container bg-white h-750px mb-3  text-left px-0 font-italic">
        <div class="pb-5"><img src="~/img/sagust.JPG" class="float-right"></div>
        <div class="ml-5 pt-5">
            <p class="text-un-line ml-5 c-black"><b>Hoş geldin Developer!</b></p>
            <p class="c-red mt-4 text-35 ml-5">Seninle çalışabilmemiz için bir temelin olmalı!</p>
            <p class="text-35 ml-5">1- Web Script dilleri : HTML, CSS, JS</p>
            <p class="text-35 ml-5">2- SQL ve ilişkisel veri tabanları hakkında bilgi</p>
            <p class="text-35 ml-5">3- Sunucu taraflı bir Web Dili: PHP / .Net / CFML / JSP / Python</p>
            <p class="text-35 ml-5">4- Internet mimarisi ve teknolojileri hakkında bilgi.</p>
            <p class="text-35 ml-5">5- Güven, cesaret ve çok çalışmak.</p>
        </div>
        <div class="float-right s2-numaric pr-5"><p class="c-gray pr-5">2</p></div>
    </div>
    <!--   Sayfa 3 skor  -->
    <div class="container bg-white h-750px mb-3  text-left px-0">
        <div class="pb-5"><img src="~/img/sagust.JPG" class="float-right"></div>
        <div class="ml-5">
            <p class="text-un-line ml-5 c-black "><b>Kendini skorla!</b></p>
            <p class="c-gray mt-4 ml-5 text-25 font-italic">Bilgi düzeyini 0 ile 5 puan arasında notlar mısın? (0=Hiç 5= İleri Seviye)</p>
            <hr class="ml-5">
            <form class="ml-5" action="">
                <label class="c-gray text-25">
                    HTML5&nbsp; &#40;
                    <select name="html5" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    JavaScript&nbsp; &#40;
                    <select name="js" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>&#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    jQuery&nbsp; &#40;
                    <select name="jquery" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    PHP&nbsp; &#40;
                    <select name="php" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    Pyton&nbsp; &#40;
                    <select name="pyton" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    Cordoba&nbsp; &#40;
                    <select name="cordoba" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    CSS3&nbsp; &#40;
                    <select name="css3" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25 pl-4">
                    Ajax&nbsp; &#40;
                    <select name="ajax" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>&#41;&nbsp;
                </label>
                <label class="c-gray text-25 pl-5 ml-2">
                    SQL&nbsp; &#40;
                    <select name="sql" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25  pl-4">
                    .NET&nbsp; &#40;
                    <select name="net" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25 pl-2">
                    C#&nbsp; &#40;
                    <select name="c" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25 pl-4">
                    Node JS&nbsp; &#40;
                    <select name="nodejs" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    Bootstrap&#40;
                    <select name="bootstrap" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    JSON&#40;
                    <select name="json" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>&#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    MSSQL&#40;
                    <select name="mssql" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    CFML&#40;
                    <select name="cfml" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    C++&#40;
                    <select name="c++" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    GO&#40;
                    <select name="go" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    GO&#40;
                    <select name="go" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    Metronics&nbsp;&#40;
                    <select name="metronics" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    AngularJS&nbsp;&#40;
                    <select name="angularjs" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>&#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    MySQL&nbsp;&#40;
                    <select name="mysql" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    JSP&nbsp;&#40;
                    <select name="jsp" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    Java&nbsp;&#40;
                    <select name="java" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    Ruby&nbsp;&#40;
                    <select name="ruby" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <hr />
                <label class="c-gray text-25">
                    Git&nbsp;&#40;
                    <select name="git" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25 pl-2">
                    GitHup&nbsp;&#40;
                    <select name="githup" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>&#41;&nbsp;
                </label>
                <label class="c-gray text-25 pl-2">
                    IIS&nbsp;&#40;
                    <select name="iis" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25 pl-2">
                    Mongo&nbsp;&#40;
                    <select name="mongo" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25 pl-2">
                    Unity&nbsp;&#40;
                    <select name="unity" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-25">
                    AfterEffect&nbsp;&#40;
                    <select name="after" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-22">
                    Win Server&#40;
                    <select name="wins" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;
                </label>
                <label class="c-gray text-22">
                    BitBucket&#40;
                    <select name="bitbucket" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;
                </label>
                <label class="c-gray text-22">
                    Apache&#40;
                    <select name="apache" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>&#41;
                </label>
                <label class="c-gray text-22">
                    Windows IoT&#40;
                    <select name="windowsiot" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;
                </label>
                <label class="c-gray text-22">
                    UnReal&#40;
                    <select name="unreal" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;
                </label>
                <label class="c-gray text-22">
                    PhotoShop&#40;
                    <select name="photoshop" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;
                </label>
                <label class="c-gray text-22">
                    PHP Server&nbsp;&#40;
                    <select name="phps" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-22 pl-2">
                    SourceTree&nbsp;&#40;
                    <select name="sourcetree" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>&#41;&nbsp;
                </label>
                <label class="c-gray text-22 pl-2">
                    SOLR&nbsp;&#40;
                    <select name="SOLR" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-22 pl-2">
                    Watson IoT&nbsp;&#40;
                    <select name="WatsonIoT" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-22 pl-2">
                    3DMax&nbsp;&#40;
                    <select name="3DMax" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-22">
                    Premiere&nbsp;&#40;
                    <select name="Premiere" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;&nbsp;
                </label>
                <label class="c-gray text-22">
                    Tomcat&#40;
                    <select name="Tomcat" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;
                </label>
                <label class="c-gray text-22">
                    Linux Server&#40;
                    <select name="LinuxServer" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;
                </label>
                <label class="c-gray text-22">
                    NoSQL&#40;
                    <select name="NoSQL" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>&#41;
                </label>
                <label class="c-gray text-22">
                    Raspberry&#40;
                    <select name="Raspberry" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;
                </label>
                <label class="c-gray text-22">
                    SolidWorks&#40;
                    <select name="SolidWorks" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;
                </label>
                <label class="c-gray text-22">
                    Maya&#40;
                    <select name="Maya" class="border-0 c-gray">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &#41;
                </label>


                <p class="text-25 c-gray">Kullandığınız IDE’ler (yazınız)</p>
                <textarea type="text" name="idetext" class="border-0 w-75" required></textarea>
            </form>
        </div>
        <div class="float-right s3-numaric pr-5"><p class="c-gray pr-5">3</p></div>
    </div>
    <!--   Sayfa 4 Hobi -->
    <div class="container bg-white h-750px mb-3  text-left px-0 font-italic">
        <div class="pb-3"><img src="~/img/sagust.JPG" class="float-right"></div>
        <div class="ml-5">
            <p class="text-un-line mt-110 ml-5 c-black ">
                <b>
                    Başka ne biliyorsun, ilgilisin veya öğreniyorsun?
                </b>
            </p>
            <p class="c-gray mt-4 ml-5 text-25 font-italic">Her alanda bildiklerini veya öğrenmeye çalıştıklarını yazabilirsin?</p>
            <p class="c-gray text-25 ml-5 font-italic">(müzik, tezhip, dağcılık, muhasebe, boks ne varsa)</p>
            <form action="">
                <textarea type="text"  name="ilgitext" class="w-75 ml-5 height-200 border-0"></textarea>
            </form>
        </div>
        <div class="float-right s4-numaric pr-5"><p class="c-gray pr-5">4</p></div>
    </div>
    <!--   Sayfa 5 Hedef -->
    <div class="container bg-white h-750px mb-3  text-left px-0 font-italic">
        <div class="pb-5"><img src="~/img/sagust.JPG" class="float-right"></div>
        <div class="ml-5">
            <p class="text-un-line ml-5 c-black"><b>Varmak istediğin yer neresi?</b></p>
            <p class="c-gray mt-4 ml-5 text-25 font-italic">Amaç, hedef, menzil, istikamet, niyet, objective, purpose, idea, plan….</p>
            <form action="">
                <textarea type="text"  name="hedeftext" class="w-75 height-200 border-0 ml-5"></textarea>
            </form>
        </div>
        <div class="float-right s5-numaric pr-5"><p class="c-gray pr-5">5</p></div>
    </div>
    <!--   Sayfa 6 Öz Tanım -->
    <div class="container bg-white h-750px mb-3  text-left px-0 font-italic">
        <div class="pb-5"><img src="~/img/sagust.JPG" class="float-right"></div>
        <div class="ml-5">
            <p class="text-un-line c-black mt-5 ml-5 "><b>Kendini tanımla?</b></p>
            <p class="c-gray mt-4 ml-5 text-35 font-italic">a-Tek bir cümle ile;</p>
            <form action="">
                <textarea class="w-75 mb-5 ml-5 border-0"></textarea>
            
            <p class="c-gray mt-5 ml-5 text-35 font-italic">b-Tek bir kelime ile;</p>
            
                <input type="text" class="border-0 w-25 ml-5">
            </form>
        </div>
        <div class="float-right s6-numaric pr-5"><p class="c-gray pr-5">6</p></div>
    </div>
    <!--   Sayfa 7 Self Study -->
    <div class="container bg-white h-750px mb-3  text-left px-0 font-italic">
        <div class="pb-5"><img src="~/img/sagust.JPG" class="float-right"></div>
        <div class="row ml-5">
            <div class="col-md-12 m-5">
                <p class="text-un-line c-black "><b>Self Study – Kendi başına Öğrenme</b></p>
            </div>
            <div class="col-md-3 mt-5 ">
                <p class="text-25 c-white y-border-ilk bg-danger p-5"><b>açık kaynaklara başvur</b></p>
                <div class=" text-20 c-gray text-center ml-1 pl-4 pt-2">
                    W3School Learncfinaweek Udemy Coursera Adobe Help MS Community Vs.
                </div>
            </div>
            <div class="col-md-0 y-border-iki bg-warning border-0 ml-5 text-center">
                <p class="text-60 c-white y-p-iki px-5">
                    <b>bir proje</b>
                    <b>tasarla</b>
                </p>
                <div class=" text-20 c-gray text-center ml-5 mt-125 pl-5 w-50">
                    İlk projen bu kağıtları webe taşımak olsun.
                </div>
            </div>
            <div class="col-md-6 ml-5 mt-2 y-border-uc bg-success border-0 text-center">
                <div class="y-p-uc">
                    <p class="text-100 c-white"><b>gerçekleştir</b></p>
                    <p class="text-100 c-white"><b>ve öğren!</b></p>
                </div>
            </div>
        </div>
        <div class="float-right s7-numaric pr-5"><p class="c-gray pr-5">7</p></div>
    </div>
    <!--   Sayfa 8 Proje ve Yol Haritası -->
    <div class="container bg-white h-750px mb-3  text-left px-0 font-italic">
        <div class="pb-5"><img src="~/img/sagust.JPG" class="float-right"></div>
        <div class="ml-5">
            <p class="text-un-line ml-5 c-black">
                <b>
                    İlk projeni ve yol haritanı yaz!
                </b>
            </p>
            <form action="">
                <textarea type="text"  name="projetext" class="w-75 height-200 border-0 ml-5 mb-5"></textarea>
            </form>
            <p class="c-black text-25 ml-5"><b>Eğer bir projen yoksa bu belgeyi dijitalleştir.</b></p>
            <p class="text-25 ml-5">1- Bilgisayarında Workcube Catalyst ortamı yarat! (9. sayfaya bak)</p>
            <p class="text-25 ml-5">2- Uygun geliştirim ortamı edin. (10. Sayfaya bak)</p>
            <p class="text-25 ml-5">3- Workcube Catalyst’in kullandığı teknolojilerle tasarla ve geliştir. (11. Sayfaya bak)</p>
            <p class="text-25 ml-5">4- Git’e koy ve bize davetiye gönder. (12. Sayfaya bak)</p>
            <p class="text-25 ml-5">5. İşi kap, işe başlamadan ödülü al</p>
        </div>
        <div class="float-right s8-numaric pr-5"><p class="c-gray pr-5">8</p></div>
    </div>
    <!--  Sayfa 9 Workcube Catalyst Desteği -->
    <div class="container bg-white h-750px mb-3  text-left px-0">
        <div class="pb-5"><img src="~/img/sagust.JPG" class="float-right"></div>

        <div class="row ml-5">
            <div class="col-md-12 mt-5 ml-5">
                <p class="text-un-line c-gray "><b>Workcube Catalyst Desteği ve Alt Yapısı</b></p>
            </div>
            <div class="col-md-2 ml-5">
                <img src="~/img/sunucu.JPG">
            </div>
            <div class="col-md-9">
                <p class="text-20 text-left c-black ml-3 pl-5"><b>Chrome - Safari</b></p>
                <div class="row">
                    <div class="col-md-3 pl-3 ml-5"><img src="~/img/folders.JPG"></div>
                    <div class="col-md-0 text-left text-20 ml-5">
                        <p class="po-center"><b>W3C Dosyaları</b></p>
                    </div>
                    <div class="col-md-1 m-0 p-0"><hr id="hr-c-s"></div>

                    <div class="col p-0"><img src="~/img/git.JPG"> </div>

                </div>
                <div class="row">
                    <div class="col-md-12"><p class="text-20 ml-5 pl-5"><b>HTTP Server – IIS</b></p></div>
                </div>
                <div class="row">
                    <div class="col-md-0 ml-4 pr-0 pl-5"><hr id="hr-c-s2"></div>
                    <div class=" p-0 m-0 d-inline-flex"><img src="~/img/mail.JPG"></div>
                    <div class="row p-0 m-0 po-center-p">
                        <div class="col po-center-p">
                            <p class="ml-4 pl-4"><b class="text-25">J2EE Server: Tomcat+ColdFusion</b><b class="text-25 c-gray"> /16</b></p>
                            <p class="ml-4 pl-4"><b class="text-25">Database: MS SQL</b><b class="text-25 c-gray"> / 2014 Standart +</b></p>
                            <p class="ml-4 pl-4"><b class="text-25">Windows Server</b><b class="text-25 c-gray"> / 2012 r2</b></p>
                            <p class="ml-4 pl-4"><b class="text-25">Hyper-V veya VMware</b></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="float-right s9-numaric pr-5"><p class="c-gray pr-5">9</p></div>
    </div>
    <!--  Sayfa 10 Workcube araç seti -->
    <div class="container bg-white h-750px mb-3  text-left px-0">
        <div class="pb-5"><img src="~/img/sagust.JPG" class="float-right"></div>
        <div class="row ml-4 mt-5">
            <div class="col-md-12 ml-4">
                <p class=" c-gray font-italic text-35"><b><u>Workcube Catalyst geliştirimi yapmak isteyenler aşağıdaki araç setine sahip olmalıdır.</u></b></p>
            </div>
            <div class="col-md-0 ml-4 text-25 p-0 align-self-center">
                Kod Editörü – IDE /&nbsp;
            </div>
            <div class="col-md-0 text-25 p-0 align-self-center">
                <img src="~/img/dw.JPG">DreamWeaver
            </div>
            <div class="col-md-0 c-orange text-15 p-0 align-self-center">
                veya
            </div>
            <div class="col-md-0 text-25 p-0 align-self-center">
                <img src="~/img/cf.JPG">CFBuilder
            </div>
            <div class="col-md-0 c-orange text-15 p-0 align-self-center">
                veya
            </div>
            <div class="col-md-0 text-25 p-0 w-25 align-self-center ">
                <img src="~/img/vs.JPG">Visual Studio Code
            </div>
        </div>
        <div class="row ml-4 mt-4">
            <div class="col-md-0 ml-4 text-25 p-0 align-self-center">
                Sürüm Kontrolü /&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-0 text-25 p-0 align-self-center">
                <img src="~/img/git2.JPG">&nbsp;&nbsp;
            </div>
            <div class="col-md-0 c-orange text-15 p-0 align-self-center">
                ve&nbsp;&nbsp;
            </div>
            <div class="col-md-0 text-25 p-0 align-self-center">
                <img src="~/img/source.JPG">SourceTree&nbsp;&nbsp;
            </div>
            <div class="col-md-0 c-orange text-15 p-0 align-self-center">
                ve&nbsp;&nbsp;
            </div>
            <div class="col-md-3 text-25 p-0 w-25 align-self-center">
                <img src="~/img/bit.JPG">Bitbucket
            </div>

        </div>
        <div class="row ml-4 mt-4">
            <div class="col-md-0 ml-4 text-25 p-0 align-self-center">
                DB Yönetimi /&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-0 text-25 p-0 align-self-center">
                <img src="~/img/sql.JPG">SQL Management Studio&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-0 c-orange text-15 p-0 align-self-center">
                veya&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-0 text-25 p-0 w-25 align-self-center">
                <img src="~/img/red.JPG">Redgate
            </div>

        </div>
        <div class="row ml-4 mt-4">
            <div class="col-md-0 ml-4 text-25 p-0 align-self-center">
                Yayın /&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-0 text-25 p-0 align-self-center">
                <img src="~/img/cfbuilder.JPG">ColdFusion Server Developer Edition&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-0 c-orange text-15 p-0 align-self-center">
                ve&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-0 text-25 p-0 w-25 align-self-center">
                <img src="~/img/ISS.JPG">IIS Server
            </div>

        </div>
        <div class="row ml-4 mt-4">
            <div class="col-md-0 ml-4 text-25 p-0 align-self-center">
                Tarayıcı /&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-0 text-25 p-0 align-self-center">
                <img src="~/img/chrome.JPG">Chrome&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-0 c-orange text-15 p-0 align-self-center">
                veya&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-0 text-25 p-0 w-25 align-self-center">
                <img src="~/img/safari.JPG">Safari
            </div>

        </div>
        <div class="float-right s10-numaric pr-5"><p class="c-gray pr-5">10</p></div>
    </div>
    <!--  Sayfa 11 Workcube Dil/Uygulama -->
    <div class="container bg-white h-750px mb-3  text-left px-0 font-italic">
        <div class="pb-5"><img src="~/img/sagust.JPG" class="float-right"></div>
        <div class="row ml-5">
            <p class=" c-gray text-un-line ml-5">
                <b>
                    Workcube Catalyst geliştiriciler aşağıdaki
                    Dillere / uygulamalara hakim olmalıdırlar.
                </b>
            </p>
            <img src="~/img/Diller.JPG" class="ml-5">
            <p class="text-22 c-gray ml-250 mt-4 "> Web hibrid yapıdadır. Önyüz-Orta Katman-Arka Ofis iç içe geçer.</p>
            <p class="text-22 c-gray ml-250 ">Workcube Kütüphanesi işinizi kolaylaştırır.</p>
        </div>
        <div class="float-right s11-numaric pr-5"><p class="c-gray pr-5">11</p></div>
    </div>
    <!--  Sayfa 12 Workcube Dil/Uygulama -->
    <div class="container bg-white h-750px mb-3  text-left px-0">
        <div class="row ml-5">
            <div class="col">
                <img src="~/img/gitsystem.JPG" class="mt-200 w-100">
            </div>
            <div class="col-md-4">
                <img src="~/img/sagust.JPG" class="float-right">
                <p class="text-35 w-75 mt-200 c-gray font-italic"><b><u>Git olmadan geliştirim yapılmaz! </u></b></p>
                <p class="text-22 w-75 c-gray">Birden fazla kişi ve takım aynı proje üzerinde güvenli biçimde çalışmasını sağlamak, versiyon yönetimi yapmak ve çok sayıda sunucu üzerindeki sürümleri yönetmek ve takip etmek için git kullanıyoruz.</p>
            </div>
        </div>
        <div class="float-right s12-numaric pr-5"><p class="c-gray pr-5">12</p></div>
    </div>
    <!--  Sayfa 13 Workcube -->
    <div class="container bg-white h-750px mb-3 text-left px-0">
        <div class="img-po12 float-left"><img src="~/img/sagust.JPG" class="float-right"></div>
        <div class="row ml-5 ">
            <div class="col-md-0 mt-125">
                <img src="~/img/w.JPG" class="ml-4">
            </div>
            <div class="col-md-0 mt-125 align-self-center ml-1">
                <b class="text-25 rounded-circle px-3 py-3 text-center c-white bg-success border-0 ">ERP</b>
            </div>
            <div class="col-md-0 mt-125 align-self-center ml-1">
                <b class="text-25 rounded-circle  px-2 py-3 text-center c-white bg-primary
                border-0 ">CRM</b>
            </div>
            <div class="col-md-0 mt-125 align-self-center ml-1">
                <b class="text-25 rounded-circle  px-3 py-3 text-center c-white bgc-orange
 border-0 ">HR</b>
            </div>
            <div class="col-md-0 mt-125 align-self-center ml-1">
                <b class="text-25 rounded-circle  px-2 py-3 text-center c-white bg-warning
 border-0 ">PMS</b>
            </div>
            <div class="col-md-0 mt-125 align-self-center ml-1">
                <b class="text-25 rounded-circle  px-2 py-3 text-center c-white bgc-cblue
 border-0 ">PAM</b>
            </div>
            <div class="col-md-0 mt-125 align-self-center ml-1">
                <b class="text-25 rounded-circle  px-2 py-3 text-center c-white bgc-brown
 border-0 ">CMS</b>
            </div>
            <div class="col-md-0 mt-125 align-self-center ml-1">
                <b class="text-25 rounded-circle  px-4 py-3 text-center c-white bgc-ping
 border-0 ">BI</b>
            </div>
            <div class="col-md-0 mt-125 align-self-center ml-1">
                <b class="text-25 rounded-circle  px-2 py-3 text-center c-white bg-info
 border-0 ">B2B</b>
            </div>
            <div class="col-md-0 mt-125 align-self-center ml-1">
                <b class="text-25 rounded-circle  px-3 py-3 text-center c-white bgc-purple
                border-0 ">IoT</b>
            </div>
            <div class="col-md-0 mt-125 align-self-center ml-1">
                <b class="text-35 rounded-circle  px-4 py-2 text-center c-white bg-secondary
 border-0 ">+</b>
            </div>
            <div class="col-md-12">
                <p class="text-25 c-black ml-200">Dijital Ekonomi ve Endüstri 4.0 çağına hazırlanan işletmelerin sistemi</p>
            </div>
        </div>
        <div class="float-right s13-numaric pr-5"><p class="c-gray pr-5">13</p></div>
    </div>


    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
</body>

</html>

